@charset "utf-8";
/* CSS Document */

.small{
position:absolute;
width:50px;
height:50px;
background-color:#FF0066;
}
.big{
position:absolute;
width:140px;
height:140px;
background-color:#FF99CC;
}
#div1,#div2,#div3,#div4{
top:0;
}
#div1,#div6{
left:60px;
}
#div2,#div7{
left:115px;
}
#div8{
left:170px;
}
#div9{
left:325px;
}
#div3,#div10{
left:380px;
}
#div4,#div11{
left:435px;
}
#div12,#div15,#div16{
left:490px;
}
.line2{
top:55px;
}
#big1,#big2,#big3,#div13,#div15{
top:110px;
}
#big1{
left:60px;
}
#big2,#big4{
left:205px;
}
#big3{
left:350px;
}
#div14,#div16{
top:165px;
}
#big4,#div17,#div18,#div19,#div20{
top:255px;
}
#div17{
left:95px;
}
#div18{
left:150px;
}
#div19{
left:350px;
}
#div20{
left:405px;
}
#div21{
left:150px;
top:310px;
}
#div22{
left:350px;
top:310px;
}
#div23{
left:250px;
top:400px;
}

#userUp{
position:absolute;
top:450px;
left:50px;
width:32px;
height:32px;
border:none;
background-image:url(shangchuan.png);
}
#fill{
position:absolute;
top:455px;
left:90px;
width:50px;

}
#fillInput,#saveInput{
border:none;
color:white;	
background-color:#FF99CC;
}

#picShow{
position:absolute;
top:485px;
left:50px;
border:1px solid pink;
width:80%;
height:100px;
overflow:scroll;
}
#picShow img{
width:80px;
height:80px;
margin:10px;
border:2px solid white;
}
#save{
position:absolute;
top:455px;
left:180px;
}
#canvas{
position:absolute;
top:0;
left:600px;
border:1px solid;
}
#finallyPic{
position:absolute;
top:600px;
left:50px;
}